<h6>Student name: Thi Pham</h6>
<h6>Student ID#: 200467699</h6>

## Problem Set 2

#### Question 1:

In [1]:
import question1_module

##### After the above expression, the global "a" is initialized with a value of 0

In [2]:
question1_module.b()

##### After the above expression, the global "a" increases from 0 to 2 because "a" in "b" function is indicated a global variable

In [3]:
question1_module.b()

##### After the above expression, the global "a" increases from 2 to 4 because "a" in "b" function is indicated a global variable

In [4]:
question1_module.b()

##### After the above expression, the global "a" increases from 4 to 6 because "a" in "b" function is indicated a global variable

In [5]:
print(question1_module.a)

6

#### Question 2:

In [6]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print('File {0} not found.'.format(file_name))

In [7]:
file_length('question1_module.py')

73

In [8]:
file_length('question1_module1.py')

File question1_module1.py not found.

#### Question 3:

###### Write a class named Marsupial

In [9]:
class Marsupial:
    'class Marsupial'
    
    def __init__(self):
        self.contents = []
    
    def put_in_pouch(self, obj):
        self.contents.append(obj)
    
    def pouch_contents(self):
        print(self.contents)
        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

###### Write a class named Kangaroo

In [10]:
class Kangaroo(Marsupial):
    'class Kangaroo'
    
    def __init__(self, xcoord=0, ycoord=0):
        super().__init__()
        self.x = xcoord
        self.y = ycoord
        
    def jump(self, dx=0, dy=0):
        self.x += dx
        self.y += dy
    
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({0},{1})'.format(self.x, self.y)
        
        
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [11]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [12]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

#### Question 4:

In [13]:
def collatz(x):
    print('{0} '.format(x))
    if x == 1:
        return
    
    if x%2 == 0:
        collatz(x/2)
    else:
        collatz(3*x+1)

In [14]:
collatz(1)

1

In [15]:
collatz(10)

10
5.0
16.0
8.0
4.0
2.0
1.0

#### Question 5:

In [16]:
def binary(n):
    if n == 0:
        return "0"
    if n == 1:
        return "1"
    
    if n%2 == 0:
        return "{0}0".format(binary(n/2))
    
    return "{0}1".format(binary(n//2))

In [17]:
print("Binary of {0}: {1}".format(0, binary(0)))
print("Binary of {0}: {1}".format(1, binary(1)))
print("Binary of {0}: {1}".format(3, binary(3)))
print("Binary of {0}: {1}".format(9, binary(9)))
print("Binary of {0}: {1}".format(18, binary(18)))
print("Binary of {0}: {1}".format(64, binary(64)))

Binary of 0: 0
Binary of 1: 1
Binary of 3: 11
Binary of 9: 1001
Binary of 18: 10010
Binary of 64: 1000000

#### Question 6:

In [18]:
from html.parser import HTMLParser
import re

class HeadingParser(HTMLParser):
    
    is_heading = False
    indent_count = 0
    
    INDENT_CHAR = ' '
    
    def is_a_valid_heading_tag(self, str):
        # a valid html heading tag is an element from [h1, h2, h3, h4, h5, h6]
        if re.match(r'^h[1-6]$', str):
            return True
        return False

    def handle_starttag(self, tag, attrs):
        'set the flag and indent level if the tag is a heading tag'
        if self.is_a_valid_heading_tag(tag):
            self.is_heading = True
            self.indent_count = int(tag[-1]) - 1
        else:
            self.is_heading = False
    
    def handle_endtag(self, tag):
        self.is_heading = False
    
    def handle_data(self, data):
        if self.is_heading:
            print('{0}{1}'.format(self.INDENT_CHAR*self.indent_count, data))

In [19]:
infile = open('w3c.html') 
content = infile.read() 
infile.close() 
headingparser = HeadingParser() 
headingparser.feed(content)

W3C Mission
 Principles

#### Question 7:

In [20]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [42]:
INDENT_CHAR = ' '

def webdir(url, depth, indent):
    print('{0}{1}'.format(INDENT_CHAR*indent, url))
    if depth == 0:
        return
    
    resource = urlopen(url)
    content = resource.read().decode()
    collector = Collector(url)
    collector.feed(content)
    links = collector.getLinks()
    
    [webdir(link, depth - 1, indent + 1) for link in links]
    
webdir('http://reed.cs.depaul.edu/lperkovic/one.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/one.html
 http://reed.cs.depaul.edu/lperkovic/two.html
  http://reed.cs.depaul.edu/lperkovic/four.html
 http://reed.cs.depaul.edu/lperkovic/three.html
  http://reed.cs.depaul.edu/lperkovic/four.html

#### Question 8:

In [22]:
# I refered to the below link for connecting to sqlite db and use magic cell
# https://www.datacamp.com/community/tutorials/sql-interface-within-jupyterlab
%%capture
%load_ext sql
%sql sqlite://

In [23]:
%%sql   
CREATE TABLE QUESTION8(city varchar(50),country varchar(50), season varchar(50), temperature double, rainfall double);  
INSERT INTO QUESTION8 VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9);
INSERT INTO QUESTION8 VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2);
INSERT INTO QUESTION8 VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4);
INSERT INTO QUESTION8 VALUES('Mumbai', 'India', 'Fall', 27.6, 346);
INSERT INTO QUESTION8 VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7);
INSERT INTO QUESTION8 VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6);
INSERT INTO QUESTION8 VALUES('London', 'United Kingdom', 'Summer', 15.7, 157);
INSERT INTO QUESTION8 VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5);
INSERT INTO QUESTION8 VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5);
INSERT INTO QUESTION8 VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5);
INSERT INTO QUESTION8 VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1);
INSERT INTO QUESTION8 VALUES('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [24]:
%%sql 
SELECT * FROM QUESTION8;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

###### Question 8 a) SQL query that returns all the temperature data:

In [25]:
%%sql 
SELECT temperature FROM QUESTION8;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

###### Question 8 b) SQL query that returns all the cities, but without repetition:

In [26]:
%%sql 
SELECT DISTINCT(city) FROM QUESTION8;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

###### Question 8 c) SQL query that returns all the records for India

In [27]:
%%sql 
SELECT * FROM QUESTION8 WHERE country='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

###### Question 8 d) SQL query that returns all the Fall records

In [28]:
%%sql 
SELECT * FROM QUESTION8 WHERE season='Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

###### Question 8 e) SQL query that returns the city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [29]:
%%sql 
SELECT city, country, season, rainfall FROM QUESTION8 WHERE rainfall BETWEEN 200 AND 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 346.0),
 ('London', 'United Kingdom', 'Winter', 207.7),
 ('London', 'United Kingdom', 'Fall', 218.5)]

###### Question 8 f) SQL query that returns the city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

In [30]:
%%sql 
SELECT city, country, season, temperature FROM QUESTION8 WHERE season='Fall' and temperature > 20 ORDER BY temperature;

 * sqlite://
Done.

[('Cairo', 'Egypt', 'Fall', 22.2), ('Mumbai', 'India', 'Fall', 27.6)]

###### Question 8 g) SQL query that returns the total annual rainfall for Cairo

In [31]:
%%sql 
SELECT city, SUM(rainfall) as total_rainfall FROM QUESTION8 WHERE city = 'Cairo'

 * sqlite://
Done.

[('Cairo', 27.6)]

###### Question 8 h) SQL query that returns the total rainfall for each season

In [32]:
%%sql 
SELECT season, SUM(rainfall) as total_rainfall FROM QUESTION8 GROUP BY season

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

#### Question 9:

In [33]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

###### Question 9 a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']

In [34]:
words_9a = [word.upper() for word in words]
words_9a

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

###### Question 9 b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']

In [35]:
words_9b = [word.lower() for word in words]
words_9b

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

###### Question 9 c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words)

In [36]:
words_9c = [len(word) for word in words]
words_9c

[3, 5, 5, 3, 5, 4, 3, 4, 3]

###### Question 9 d) the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word

In [37]:
words_9d = [[word.upper(), word.lower(), len(word)] for word in words]
words_9d

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

###### Question 9 e) the list of words in list words containing 4 or more characters

In [38]:
words_9e = [word for word in words if len(word) >= 4]
words_9e

['quick', 'brown', 'jumps', 'over', 'lazy']